

<%= form_tag sessions_path,{:class => 'form-horizontal'}  do %>
<fieldset>
  <br>
 
 <br><br><br>
  <div class="form-group">	
    <%= label_tag :email, nil, class: 'col-lg-4 control-label'   %>
	<div class="col-lg-4">
    <%= text_field_tag :email, params[:email], :class => "form-control", :placeholder => "Email", :id => "inputEmail" %>
   </div>
 </div>
	
 <div class="form-group">
    <%= label_tag :password, nil, class: "col-lg-4 control-label"    %>
	<div class="col-lg-4">
    <%= password_field_tag :password, nil, :class => "form-control", :placeholder => "Password", :id => "inputPassword"   %>
   </div>
    </div>

    <div class="form-group">
      <div class="col-lg-8 col-lg-offset-4">
       <%= check_box_tag :remember_me, 1, params[:remember_me], :class =>"col-lg-0 control-label"  %>
     
      
   <%= label_tag :remember_me, nil, class: "control-label"  %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
   <%= link_to "forgotten password?", new_password_reset_path %>
  </div>  
   </div>  
 
 <div class="form-group">
      <div class="col-lg-4 col-lg-offset-4">
 <%= submit_tag 'Log in', :class => 'btn btn-primary'  %>
  </div>
    </div>
	</fieldset>
<% end %>
</body>