<% @lotteries_add.each_with_index do |lottery_id,index|%>
<br>
<div id=<%= lottery_id %>>
<% lottery_added=Lottery.find(lottery_id) %>
<legend><small>Series of <%=lottery_added.name.upcase%></small></legend>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 100%;height: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<br>

  <div>
    
    <% lottery_added.series.each do |series| %>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-12">
                <%= series.name %>) <%= number_field_tag("quantity_"+series.id.to_s, nil, min: 0, style: "width:100px;", placeholder: 'Quantity', class: 'quantity_id', id: series.id, :onchange => 'serial_input_appear()' ) %>
            <div id=<%= 'series_'+series.id.to_s %>>
            </div>
            </div>
        </div>
    </div>
    <% end %>

  </div>

</div>
<% end %>
