<br>
<% @quantity.to_i.times do %>
<%= text_field_tag(@series_id.to_s+"_serials[]", nil, style: "width:100px;", pattern: "[0-9]{5,}", title: "numeric between 5-7 characters", required: true, placeholder: 'Serial', class: "barcodeinput" ) %>
<% end %>
<br>
<br>