<script>
$(document).ready(function() {
  $('.rotate').css('height', $('.rotate').width());
});
</script>
<style>
div {
   word-wrap: break-word;
   width: 300px;
   margin: 110px;
}
.rotate {
  /* FF3.5+ */
  -moz-transform: rotate(-90.0deg);
  /* Opera 10.5 */
  -o-transform: rotate(-90.0deg);
  /* Saf3.1+, Chrome */
  -webkit-transform: rotate(-90.0deg);
  /* IE6,IE7 */
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
  /* Standard */
  transform: rotate(-90.0deg);
}
</style>

<% @printables.each do |money_receipt_id| %>
<% customer=MoneyReceipt.find(money_receipt_id).customer %>
<div class='rotate'>
<% if customer.mobile==nil || customer.mobile=="" %>
<% else %>
<p style="font-size:20px" align="right">
<i>Mobile:&nbsp<b><%= customer.mobile %></b></i><br>
</p>
<% end %>
<p style="font-size:20px;">
To,<br>  
<b><%= customer.name %></b><br>
<%= customer.address %><br>
PIN:&nbsp<%= customer.pincode %><br>
</p>
</div>

<p style="page-break-after: always;">&nbsp;</p>

<% end %>