<div class="card border-primary mb-3" style="max-width: 30rem;">
<center>  
  <div class="card-header"></div>
  <div class="card-body">
      
    <h2 class="card-title">Transaction</h2>
      <ul class="list-group">

        <li class="list-group-item">
        <span class="badge"><%= %></span>
          <a>
          <span></span> 
          <%= link_to 'Customer Details', {controller: 'transaction', action: 'money_receipt_entry_form'}, {method: :post} %>
          </a>
        </li>

        <li class="list-group-item">
        <span class="badge"><%= %></span>
          <a>
          <span></span> 
          <%= link_to 'Pending Lottery Details', {controller: 'transaction', action: 'lottery_details_pending'}, {method: :post} %>
          </a>
        </li>

        <li class="list-group-item">
        <span class="badge"><%= %></span>
          <a>
          <span></span> 
          <%= link_to 'Customer Receipt Register', {controller: 'reports', action: 'money_receipt_register'}, {method: :post} %>
          </a>
        </li>        

        <li class="list-group-item">
        <span class="badge"><%= %></span>
          <a>
          <span></span> 
          <%= link_to 'Upload Instrument', {controller: 'transaction', action: 'upload_instrument'}, {method: :post} %>
          </a>
        </li>

        <li class="list-group-item">
        <span class="badge"><%= %></span>
          <a>
          <span></span> 
          <%= link_to 'Instruments Uploaded', {controller: 'transaction', action: 'instruments_uploaded'}, {method: :post} %>
          </a>
        </li>

        <li class="list-group-item">
        <span class="badge"><%= %></span>
          <a>
          <span></span> 
          <%= link_to 'Untagged Instruments', {controller: 'transaction', action: 'untagged_instruments'}, {method: :post} %>
          </a>
        </li>        

      </ul>
  </div>
</center>
</div>

