<%= form_tag 'lottery_details_entry_form', :authenticity_token => true, :html => {:class => 'form-horizontal'}  do %>
<div class="row row_position">
  <div class="col-sm-12">
    <div class='col-sm-3' id='total_amt'></div>
    <div class="col-sm-6">
      <h1>Pending Lottery Details</h1>
    </div>
     
  </div>      
</div>

<table class="table table-striped table-hover" id="lottery_details_pending">
  <thead>
    <tr>
      
      <th></th>
      <th>Date</th>
      <th>Edit</th>
      <th>Customer</th>
      <th>Address</th>
      <th>Pin</th>
      <th>Mobile</th>
      <th>Instrument</th>
      <th>Link</th>
      <th>Amount</th>
      <th>Print<%= check_box_tag "selectAll", "selectAll" %></th>
      <th>Printed</th>
    </tr>
  </thead>

  <tbody>
    <% @lottery_details_pending.each do |money_receipt| %>
    <tr>
      
      <td><%= radio_button_tag :money_receipt_picked, money_receipt.id, nil %></td>
      <td><%= money_receipt.created_at.strftime("%d/%m/%y") %></td>
      <td><%= link_to 'Edit', setup_customer_edit_path(money_receipt.customer) %></td>
      <td><%= money_receipt.customer.name %></td>
      <td><%= money_receipt.customer.address %></td>
      <td><%= money_receipt.customer.pincode %></td>
      <td><%= money_receipt.customer.mobile %></td>
      <td><%= money_receipt.instrument_detail %></td>
      <% if money_receipt.instrument==nil %>
      <td></td>
      <% else %>
      <td><%= link_to money_receipt.instrument.scan_file_name, money_receipt.instrument.scan.url, target: :_blank %></td>
      <% end %>
      <td><%= money_receipt.amount %></td>
      <td><%= check_box_tag 'printables[]', money_receipt.id%></td>
      <td><%= money_receipt.printed %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="form-group">
 <div class="row">
  <div class="col-lg-6">
    <%= submit_tag "Enter Lottery Details", name: "submit", :class => 'btn btn-primary btn-block' %>
  </div>
  <div class="col-lg-6">
    <%= submit_tag "Print", name: "print", :class => 'btn btn-success btn-block' %>
  </div>
 </div> 
</div>

<% end %>

<script>
$(document).ready(function(){
$('#selectAll').click(function() {
   if (this.checked) {
       $(':checkbox').each(function() {
           this.checked = true;
       });
   } else {
      $(':checkbox').each(function() {
           this.checked = false;
       });
   }
});
});  
</script>  