<% @lotteries_remove.each do |lottery_remove_id| %>

$('#<%= lottery_remove_id%>').empty()
$('#<%= lottery_remove_id%>').remove()

<% end %>

$('#old_lotteries').empty()
$('#old_lotteries').append('<%= j render("updated_inputs") %>')


$('#series_input').append('<%= j render("lottery_input_serial") %>')

$(document).ready(function() {
$(".multiple_lotteries").multiselect().multiselectfilter();
$(".ui-multiselect-all").hide();
$(".ui-multiselect-none").hide()
});