<%= form_tag 'money_receipt_review', :authenticity_token => true, :html => {:class => 'form-horizontal'}  do %>
<%= hidden_field_tag :money_receipt_id, @money_receipt.id %>
<div class="card border-primary mb-3" style="max-width: 30rem;">
  <div class="card-header"><h3>Lottery Details Review</h3></div>
  <div class="card-body">
    
    <div class="form-group">
       <div class="col-lg-6">
         Date:<%= @money_receipt.created_at.strftime("%d/%m/%y") %>&nbsp&nbsp&nbsp
       </div>
    </div>

    <div class="form-group">
       <div class="col-lg-12">
        <b> <%= @money_receipt.customer.name %>-<%= @money_receipt.customer.mobile %></b>
       </div>
    </div>
    
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 100%;height: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    
    <br>
    <% total=0 %>
    <% serial_errors=[] %>
    <% @money_receipt.sold_lotteries.each do |sold_lottery|%>
      <div>
        <div class="form-group">
              <div class="col-lg-12">
                <div align="center">
                <b><%= sold_lottery.lottery.name %></b>-
                <%= sold_lottery.lottery.rate.round %>
                </div>
                <% sold_lottery.sold_series.each do |sold_series|%>            
                <div align="right">
                <%= sold_series.series.name %>:
                <% sold_series.sold_numbers.each do |sold_number|%>
                <% if SoldNumber.includes(:sold_series).where(:sold_series => {series_id: sold_number.sold_series.series_id}, serial: sold_number.serial).count>1 %>
                <% serial_errors+=[sold_number] %>
                <% end %>
                <%= sold_number.serial %>&nbsp|
                  <% if sold_number.sold_series.series.name=='all' || sold_number.sold_series.series.name=='All' %>
                  <% total+=((sold_number.sold_series.sold_lottery.lottery.rate)*((sold_number.sold_series.sold_lottery.lottery.series.count-1))) %>
                  <% else %>
                  <% total+=sold_number.sold_series.sold_lottery.lottery.rate %>
                  <% end %>
                <% end %>
                </div>
                <br>
                <% end %>

              </div>
        </div>

      </div>

    
    <% end %>

     <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 100%;height: 10%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

<div class="col-lg-12">
  <div align="right">
  TOTAL:&nbsp<b><i> <%= total.round %></i></b><br>
  </div>
  <div>
  <%= @money_receipt.instrument_detail%>-<b><%= @money_receipt.amount%></b>/-
  <br>
  RP No.-<%= @money_receipt.rp_number %>
  </div>
</div>
<br>
    <div class="form-group">
      <div align="right">
        <div class="col-lg-12">
          <%= submit_tag "EDIT", name: "edit", :class => 'btn btn-danger' %>
          &nbsp&nbsp&nbsp&nbsp&nbsp
          <% if total>@money_receipt.amount || total<(@money_receipt.amount*(1/10.0)) %>
          <%= submit_tag "Amount Error", name: "error", :class => 'btn btn-danger', disabled: true %>
          <% elsif MoneyReceipt.where(rp_number: @money_receipt.rp_number).count>1 %>
          <%= submit_tag "RP Number Error", name: "error", :class => 'btn btn-danger', disabled: true %>
          <% elsif serial_errors!=[] %>
          <%= submit_tag "Serial Number Error", name: "error", :class => 'btn btn-danger', disabled: true %>
          <% serial_errors.each do |x| %>
            <%= x.serial %>|
          <% end %>
          <% else %>
          <%= submit_tag "OK", name: "ok", :class => 'btn btn-success' %>
          <% end %>
        </div>
      </div>
    </div>

</div>
</div>
</div>
<% end %>
