<%= form_tag 'money_receipt_edit_entry', :authenticity_token => true, :html => {:class => 'form-horizontal'}  do %>

<%= hidden_field_tag :money_receipt_id, @money_receipt_picked %>

<div class="card border-primary mb-3" style="max-width: 30rem;">
  <div class="card-header"><h3>EDIT</h3></div>
  <div class="card-body">
    

    <div class="form-group">
      <%= label_tag :customer, 'Customer', :class => 'col-lg-12 control-label' %>
       <div class="col-lg-12">
         <%= select(:money_receipt, :id, options_for_select(@customers, selected: @money_receipt_picked),{}, {class: "form-control input-sm"}) %>
       </div>
    </div>
    

    <div class="form-group">
       <%= label_tag :lotteries, 'Lotteries', :class => 'col-lg-12 control-label' %>
          <div class="col-lg-12">
              <%= select("sold", "lotteries", options_for_select(@lotteries, selected: @lotteries_entered),{}, {:id => 'lotteries', class: "multiple_lotteries", multiple: true, :onchange => 'series_input()' }) %>
          </div>
    </div>
    

    <div id='series_input'>

    <% @money_receipt.sold_lotteries.each do |sold_lottery| %>      
      <br>
      <div id=<%= sold_lottery.lottery_id %>>
      <legend><small>Series of <%=sold_lottery.lottery.name.upcase%></small></legend>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 100%;height: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      <br>

        <div>
          
          <% sold_lottery.lottery.series.each do |series| %>
          <div class="form-group">
              <div class="row">
                  <div class="col-sm-12">
                      <% if sold_lottery.sold_series.pluck(:series_id).include? series.id  %>
                      <%= series.name %>) <%= number_field_tag("quantity_"+series.id.to_s, sold_lottery.sold_series.find_by(series_id: series.id).sold_numbers.count, step: "any", style: "width:100px;", placeholder: 'Quantity', class: 'quantity_id', id: series.id, :onchange => 'serial_input_appear()' ) %>
                      <% else %>
                      <%= series.name %>) <%= number_field_tag("quantity_"+series.id.to_s, nil, step: "any", min: 0, style: "width:100px;", placeholder: 'Quantity', class: 'quantity_id', id: series.id, :onchange => 'serial_input_appear()' ) %>
                      <% end %>
                  <div id=<%= 'series_'+series.id.to_s %>>
                    <% if sold_lottery.sold_series.pluck(:series_id).include? series.id  %>
                      <% sold_lottery.sold_series.find_by(series_id: series.id).sold_numbers.each do |sold_number| %>
                        <%= text_field_tag(sold_number.sold_series.series_id.to_s+"_serials[]", sold_number.serial, style: "width:100px;", pattern: "[0-9]{5,}", required: true, placeholder: 'Serial', class: "barcodeinput" ) %>

                      <% end %>
                    <% end %>
                  </div>
                  </div>
              </div>
          </div>
          <% end %>

        </div>

      </div>


    <% end %>  
    </div>

    <div id='old_lotteries'><%= hidden_field_tag :old_lotteries, @lotteries_entered, id: 'old' %></div>

<br>
<br>

  <div class="form-group">
     <%= label_tag :rp_number, 'RegPostNo.', :class => 'col-lg-12 control-label' %>
        <div class="col-lg-12">
          <%= text_field_tag :rp_number, @money_receipt.rp_number, :class => 'form-control', required: true  %>
        </div>
  </div>

  <br>
  <div class="form-group">
    <div class="col-lg-12">  
    <%= radio_button_tag :instrument_type, 'MO', @money_receipt.mo %>&nbspMO&nbsp&nbsp&nbsp&nbsp
    <%= radio_button_tag :instrument_type, 'DD', @money_receipt.dd %>&nbspDD&nbsp&nbsp&nbsp&nbsp
    <%= radio_button_tag :instrument_type, 'Cash', @money_receipt.cash %>&nbspCash&nbsp&nbsp&nbsp&nbsp
    <%= radio_button_tag :instrument_type, 'PWT', @money_receipt.pwt %>&nbspPWT&nbsp&nbsp&nbsp&nbsp
    </div>
  </div>


    <div class="form-group">
       <%= label_tag :number, 'Instrument No.', :class => 'col-lg-12 control-label' %>
          <div class="col-lg-12">
            <%= text_field_tag :instrument_number, @money_receipt.instrument_number, :class => 'form-control', required: true  %>
          </div>
    </div>

    <div class="form-group">
       <%= label_tag :amount, 'Amount', :class => 'col-lg-12 control-label' %>
          <div class="col-lg-12">
            <%= text_field_tag :amount, @money_receipt.amount, :class => 'form-control', required: true  %>
          </div>
    </div>
    
    <div class="form-group">
      <div class="col-lg-12">
        <%= submit_tag "Submit", name: "submit", :class => 'btn btn-primary btn-block' %>
      </div>
    </div>

  </div>

</div>
<% end %>
<input type="button" value="OK" class="nextcontrol"/>
<h3 id="msg"/>

<script>

$(document).ready(function() {
$(".multiple_lotteries").multiselect().multiselectfilter();
$(".ui-multiselect-all").hide();
$(".ui-multiselect-none").hide()
});


function series_input()
{
  var selectedValues = [];
  var lotteries_id=event.target.id;
  lotteries_id=lotteries_id.replace("ui-multiselect-", "");
  lotteries_id = lotteries_id.substring(0, lotteries_id.indexOf("-"));
  old_lottery_ids=document.getElementById('old').value;

  $('#'+lotteries_id+' :selected').each(function(){
        selectedValues.push($(this).val()); 
    });
  $.getScript('/transaction/lottery_serial_input.js?inputs='+selectedValues+'&old_lottery_ids='+old_lottery_ids);
}

function serial_input_appear()
{
  var series_id=event.target.id;
  var quantity=event.target.value;
  $.getScript('/transaction/serial_input_appear.js?series_id='+series_id+'&quantity='+quantity);
}

$('form input').on('keypress', function(e) {
    return e.which != 13;
});

$(document).ready(function () {
    
    var keyupFiredCount = 0; 

    function DelayExecution(f, delay) {
        var timer = null; 
        return function () {
            var context = this, args = arguments;
           
            clearTimeout(timer);
            timer = window.setTimeout(function () {
                f.apply(context, args);
            },
            delay || 300);
        };
    }
    $.fn.ConvertToBarcodeTextbox = function () {

        $(this).focus(function () { $(this).select();$("#msg").html(""); });

         $(this).keydown(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which); 
            
            if ($(this).val() == '') {
                keyupFiredCount = 0; 
            }  
            if (keycode == 13) {//enter key 
                    $(".nextcontrol").focus();
                    return false;
                    event.stopPropagation(); 
            } 
        });

        $(this).keyup(DelayExecution(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);  
                keyupFiredCount = keyupFiredCount + 1;  
        }));

         $(this).blur(function (event) { 
             if ($(this).val() == '')
                 return false;

             if(keyupFiredCount <= 1)
             {
                 $("#msg").html("<span style='color:green'>Its Scanner!</span>");
                 var final_text=''
                 var test_text=''
                 var test_number=0
                 final_text=$(this).val();
                 test_text=final_text.substr(final_text.length-5);

                 test_number=parseInt(test_text);
                 if (Number.isNaN(test_number))
                 {
                 final_text=final_text.substr(final_text.length-11,5);   
                 }
                 
                 final_text=final_text.substr(final_text.length-5);
                 

                 $(this).val(final_text);
                 //alert('Its Scanner'); 
             }
             else 
             {
                 $("#msg").html("<span style='color:red'>Its Manually Typed!</span>");
                 //alert('Its Manual Entry');
             }

             keyupFiredCount = 0;
         }); 
    };
    try {
        $(".barcodeinput").ConvertToBarcodeTextbox();
        if ($(".barcodeinput").val() == '')
            $(".barcodeinput").focus();
        else
            $(".nextcontrol").focus(); 
    } catch (e) { }

});

</script>