<%= form_tag 'money_receipt_entry', :authenticity_token => true, :html => {:class => 'form-horizontal'}  do %>

 <table class="table table-striped">
  <thead>
     <tr>
      <th>Sl</th>
      <th>Name</th>
      <th>Mobile</th>
      <th>Full_Address</th>
      <th>Pincode</th>    
      <th>Email</th>
      <th>Remarks</th>
      <th>Instrmnt</th>
      <th>Amt(₹)</th>
      <th>Instrmnt#</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
   <tr class="tr_clone">
      <td>1</td>
      <td><small><div id='customer_name_div_1' class='customer_name_div'><%= autocomplete_field_tag 'customer_name[]', '', transaction_autocomplete_customer_name_path, class: 'customer_name', id: 'customer_name_1', size: 25 %></div></small><div id='customer_div_1' class='customer_div'><%= hidden_field_tag "customer[id][]", nil %></div></td>
      <td><small><div id='customer_mobile_div_1' class='customer_mobile_div'><%= autocomplete_field_tag 'customer_mobile[]', '', transaction_autocomplete_customer_mobile_path, class: 'customer_mobile', id: 'customer_mobile_1', size: 10 %></div></small></td>
      <td><div id='customer_address_div_1' class='customer_address_div'><%= text_area_tag(("customer[address][]"), '', rows: "3", cols: "50", class: "form-control", required: true) %></div></td>
      <td><small><div id='customer_pincode_div_1' class='customer_pincode_div'><%= text_field_tag(("customer[pincode][]"), '', required: true, size: 7) %></div></small></td>
      <td><small><div id='customer_email_div_1' class='customer_email_div'><%= text_field_tag(("customer[email][]"), '', size: 20) %></div></small></td>
      <td><div id='customer_remarks_div_1' class='customer_remarks_div'><%= text_area_tag(("customer[remarks][]"), '', rows: "3", cols: "50", class: "form-control") %></div></td>
      <td>
        <div id='instrument_type_div_1' class='instrument_type_div'>
        <%= radio_button_tag :instrument_type_1, 'MO', 'MO' %>&nbsp&nbspMO<br>
        <%= radio_button_tag :instrument_type_1, 'DD', 'DD' %>&nbsp&nbspDD<br>
        <%= radio_button_tag :instrument_type_1, 'Cash', 'Cash' %>&nbsp&nbspCash<br>
        <%= radio_button_tag :instrument_type_1, 'PWT', 'PWT' %>&nbsp&nbspPWT<br>
        </div>
       </td>
      <td><small><%= text_field_tag(("customer[amount][]"), '', required: true, id: "size_box", size: 6) %></small></td>
      <td><small><%= text_field_tag(("customer[instrument_number][]"), '', id: "size_box") %></small></td>
      <td><small><input type="button" name="add" value="-" class="tr_clone_remove btn btn-danger btn-sm"><br><br>
      <input type="button" name="add" value="+" class="tr_clone_duplicate btn btn-info btn-sm"></small></td>                    
   </tr>
  </tbody>
</table>

<div class="form-group">
  <div class="col-lg-12">
    <%= submit_tag "Submit", name: "submit", :class => 'btn btn-primary btn-block' %>
  </div>
</div>


<% end %>

<script>

$('.customer_mobile').on('railsAutocomplete.select', function(event, data){
  id=event.target.id
  customer_id=data['item']['id'];
  $.getScript('/transaction/fetch_customer_details.js?customer_id='+customer_id+"&id="+id);
});

$('.customer_name').on('railsAutocomplete.select', function(event, data){
  id=event.target.id
  customer_id=data['item']['id'];
  $.getScript('/transaction/fetch_customer_details.js?customer_id='+customer_id+"&id="+id);
});

$("table").on('click',"input.tr_clone_duplicate" , function() {
    var tr    = $(this).closest('.tr_clone');
    var original_selects = tr.find('select');
    var clone = tr.clone();
    clone.find('select').each(function(index, item) {

     //set new select to value of old select
     $(item).val( original_selects.eq(index).val() );

    });
    tr.after(clone);

    var dummy_count=0;
    $('td:first-child').each(function() {
      dummy_count=dummy_count+1;
      $(this).html(dummy_count);
    });


    // instrument_type_id to do

    var hidden_divs=document.getElementsByClassName("customer_div");
    var customer_name_divs=document.getElementsByClassName("customer_name_div");
    var customer_names=document.getElementsByClassName("customer_name");
    var customer_mobile_divs=document.getElementsByClassName("customer_mobile_div");
    var customer_mobiles=document.getElementsByClassName("customer_mobile");
    var customer_address_divs=document.getElementsByClassName("customer_address_div");
    var customer_pincode_divs=document.getElementsByClassName("customer_pincode_div");
    var customer_email_divs=document.getElementsByClassName("customer_email_div");
    var customer_remarks_divs=document.getElementsByClassName("customer_remarks_div");
    var instrument_type_divs=document.getElementsByClassName("instrument_type_div");

    
    
    for(i=0 ; i<customer_name_divs.length ;i++)
     {
      hidden_divs[i].id='customer_div_' + (i+1).toString();
      customer_name_divs[i].id='customer_name_div_' + (i+1).toString();
      customer_names[i].id='customer_name_' + (i+1).toString();
      customer_mobile_divs[i].id='customer_mobile_div_' + (i+1).toString();
      customer_mobiles[i].id='customer_mobile_' + (i+1).toString();
      customer_address_divs[i].id='customer_address_div_' + (i+1).toString();
      customer_pincode_divs[i].id='customer_pincode_div_' + (i+1).toString();
      customer_email_divs[i].id='customer_email_div_' + (i+1).toString();
      customer_remarks_divs[i].id='customer_remarks_div_' + (i+1).toString();
      instrument_type_divs[i].id='instrument_type_div_' + (i+1).toString();
      instrument_type_divs[i].childNodes[1].name='instrument_type_' + (i+1).toString();
      instrument_type_divs[i].childNodes[5].name='instrument_type_' + (i+1).toString();
      instrument_type_divs[i].childNodes[9].name='instrument_type_' + (i+1).toString();
      instrument_type_divs[i].childNodes[13].name='instrument_type_' + (i+1).toString();
      instrument_type_divs[i].childNodes[1].id='instrument_type_' + (i+1).toString()+'_MO';
      instrument_type_divs[i].childNodes[5].id='instrument_type_' + (i+1).toString()+'_DD';
      instrument_type_divs[i].childNodes[9].id='instrument_type_' + (i+1).toString()+'_Cash';
      instrument_type_divs[i].childNodes[13].id='instrument_type_' + (i+1).toString()+'_PWT';
      // 1,5,9,13    
      // var x=1;

      // var instrument_radios=document.getElementsByClassName("instrument_type_"+ (i+1).toString());

      // instrument_radios.each(function(){
      //   $(this).attr('id', 'e_c_'+(i+1).toString()+'_input_'+x.toString());
      //   $(this).attr('name', 'e_c_'+(i+1).toString()+'[input_'+x.toString()+']');
      //   x=x+1
      // });
     }

     $('.customer_mobile').on('railsAutocomplete.select', function(event, data){
       id=event.target.id
       customer_id=data['item']['id'];
       $.getScript('/transaction/fetch_customer_details.js?customer_id='+customer_id+"&id="+id);
     });

     $('.customer_name').on('railsAutocomplete.select', function(event, data){
       id=event.target.id
       customer_id=data['item']['id'];
       $.getScript('/transaction/fetch_customer_details.js?customer_id='+customer_id+"&id="+id);
     });


    
});

$("table").on('click',"input.tr_clone_remove" , function() {
    $(this).closest('tr').remove();
    var dummy_count=0;
    $('td:first-child').each(function() {
      dummy_count=dummy_count+1;
      $(this).html(dummy_count);
    });

    var hidden_divs=document.getElementsByClassName("customer_div");
    var customer_name_divs=document.getElementsByClassName("customer_name_div");
    var customer_names=document.getElementsByClassName("customer_name");
    var customer_mobile_divs=document.getElementsByClassName("customer_mobile_div");
    var customer_mobiles=document.getElementsByClassName("customer_mobile");
    var customer_address_divs=document.getElementsByClassName("customer_address_div");
    var customer_pincode_divs=document.getElementsByClassName("customer_pincode_div");
    var customer_email_divs=document.getElementsByClassName("customer_email_div");
    var customer_remarks_divs=document.getElementsByClassName("customer_remarks_div");
    var instrument_type_divs=document.getElementsByClassName("instrument_type_div");

    for(i=0 ; i<hidden_divs.length ;i++)
     {
      hidden_divs[i].id='customer_div_' + (i+1).toString();
      customer_name_divs[i].id='customer_name_div_' + (i+1).toString();
      customer_names[i].id='customer_name_' + (i+1).toString();
      customer_mobile_divs[i].id='customer_name_div_' + (i+1).toString();
      customer_mobiles[i].id='customer_mobile_' + (i+1).toString();
      customer_address_divs[i].id='customer_address_div_' + (i+1).toString();
      customer_pincode_divs[i].id='customer_pincode_div_' + (i+1).toString();
      customer_email_divs[i].id='customer_email_div_' + (i+1).toString();
      customer_remarks_divs[i].id='customer_remarks_div_' + (i+1).toString();
      instrument_type_divs[i].id='instrument_type_div_' + (i+1).toString();
      instrument_type_divs[i].childNodes[1].name='instrument_type_' + (i+1).toString();
      instrument_type_divs[i].childNodes[5].name='instrument_type_' + (i+1).toString();
      instrument_type_divs[i].childNodes[9].name='instrument_type_' + (i+1).toString();
      instrument_type_divs[i].childNodes[13].name='instrument_type_' + (i+1).toString();
      instrument_type_divs[i].childNodes[1].id='instrument_type_' + (i+1).toString()+'_MO';
      instrument_type_divs[i].childNodes[5].id='instrument_type_' + (i+1).toString()+'_DD';
      instrument_type_divs[i].childNodes[9].id='instrument_type_' + (i+1).toString()+'_Cash';
      instrument_type_divs[i].childNodes[13].id='instrument_type_' + (i+1).toString()+'_PWT';
      
    }
});
$('form input').on('keypress', function(e) {
    return e.which != 13;
});
</script>