$("<%= '#'+@hidden_div_id %>").empty()
$("<%= '#'+@hidden_div_id %>").append('<%= j render("customer_id") %>')

$("<%= '#'+@customer_address_div_id %>").empty()
$("<%= '#'+@customer_address_div_id %>").append('<%= j render("customer_address") %>')

$("<%= '#'+@customer_pincode_div_id %>").empty()
$("<%= '#'+@customer_pincode_div_id %>").append('<%= j render("customer_pincode") %>')

$("<%= '#'+@customer_email_div_id %>").empty()
$("<%= '#'+@customer_email_div_id %>").append('<%= j render("customer_email") %>')

$("<%= '#'+@customer_remarks_div_id %>").empty()
$("<%= '#'+@customer_remarks_div_id %>").append('<%= j render("customer_remarks") %>')

<% if @line_item_id.include? 'mobile' %>
$("<%= '#'+@customer_name_div_id %>").empty()
$("<%= '#'+@customer_name_div_id %>").append('<%= j render("customer_name") %>')
<% else %>
$("<%= '#'+@customer_mobile_div_id %>").empty()
$("<%= '#'+@customer_mobile_div_id %>").append('<%= j render("customer_mobile") %>')
<% end %>
