<%= form_tag 'emo_entry', :authenticity_token => true, :html => {:class => 'form-horizontal'}  do %>

<div class="row row_position">
  <div class="col-sm-12">
    <div class='col-sm-3' id='total_amt'></div>
    <div class="col-sm-6">
      <h1>Instruments Uploaded</h1>
    </div>
     
  </div>      
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      
      <th><%= check_box_tag "selectAll", "selectAll" %></th>      
      <th>Date</th>
      <th>DocName</th>
      <th>Error</th>
      <th>Name</th>
      <th>Address</th>
      <th>Pin</th>
      <th>Mobile</th>
      <th>EMO</th>
      <th>Amount</th>
      
    </tr>
  </thead>

  <tbody>
    <%

    require "google/cloud/vision"

    Google::Cloud::Vision.configure do |config|
      config.project_id  = "lottery-220502"
      config.credentials = File.join(Rails.root, 'lottery-c12cc4ecd43a.json')
    end

    %>
    
    <% @instruments.each do |instrument| %>
    <tr>
      <td><%= check_box_tag 'instruments[]', instrument.id%></td>
      <td><%= instrument.created_at.strftime("%d/%m/%y") %></td>
      <td><%= link_to instrument.scan_file_name, instrument.scan.url, target: :_blank %></td>
      
      <%

      vision = Google::Cloud::Vision.new

      image = vision.image "https:"+instrument.scan.url

      @name=''
      @address=''
      @mobile=''
      @pincode=''
      @amount=''
      @emo_number=''

      document = image.document
      @text=document.text

      @error=''
      @name_and_address_index=@text.index('Name and Address')
      @payee_index=@text.index('Pay')
      if @name_and_address_index==nil || @payee_index==nil
        @error+=' name & address not detected'
      end
      @emo_number_index=@text.index('EMO NUMBER')
      @dated_index=@text.index('DATED')
      
      if @emo_number_index==nil || @dated_index==nil
        @error+=' emo number not detected'
      end
      
      @rs_index=@text.index('Rs.')
      @words_index=@text.index('words)')

      if @rs_index==nil || @words_index==nil
        @error+=' amount not detected'
      end

      if @error==''
      
      @name_and_address=@text[(@name_and_address_index+17)..(@payee_index-1)]
      @pincode=@name_and_address.scan(/\s[\d]{6}\s/).first.try{|x| x.strip}
      @mobile=@name_and_address.scan(/\s[\d]{10}\s/).first.try{|x| x.strip}

      if @pincode!=nil
      @name_and_address[@pincode]=""
      end

      if @mobile!=nil
      @name_and_address[@mobile]=""
      end

      @name=@name_and_address.scan(/\A\S+\s\S+/).first.try{|x| x.strip}
      if @name.length<=4
      @name=@name_and_address.scan(/\A\S+\s\S+\s\S+/).first.try{|x| x.strip}  
      end

      @name_and_address[@name]=""
      @address=@name_and_address
      

      @emo_number=@text[(@emo_number_index+12)..(@dated_index-2)]
      @amount=@text[(@rs_index+3)..(@words_index-6)]

      end

      %>
      <td><%= @error %></td>
      <td><%= @name %></td>
      <td><%= @address %></td>
      <td><%= @pincode %></td>
      <td><%= @mobile %></td>
      <td><%= @emo_number %></td>
      <td><%= @amount %></td>
      
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<script>

$(document).ready(function(){
$('#selectAll').click(function() {
   if (this.checked) {
       $(':checkbox').each(function() {
           this.checked = true;
       });
   } else {
      $(':checkbox').each(function() {
           this.checked = false;
       });
   }
});
});
  
</script>  