<div class="col-lg-4 col-lg-offset-4">
  <div class="well bs-component">
  <legend>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspUpload Instrument</legend> 
  <%= form_tag 'instrument_upload', multipart: true  do %>
    <div class="col-lg-8">
      <%= file_field_tag "instruments[]",type: :file, multiple: true, class: 'filestyle', :'data-classButton' => 'btn btn-primary' %>
    </div>
    <br>
    <br>
    <%= button_tag type: 'submit', name:'submit', :class =>"btn btn-primary"  ,'data-toogle' => "tooltip",'title' => "Upload Instrument"  do %>
      <%= content_tag :strong, 'Upload' %>
    <% end %>
  <% end %>
  </div>
</div>