<%= form_for @customer,:html=> {:class=>"form-horizontal"}, url: {action: @customer_action} do |f| %>


  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-lg-5 col-lg-offset-4">
    <div class="well bs-component">
      <legend>New Customer Entry</legend>
      
        <div class="form-group">
           <%= f.label :name, :class => 'col-lg-2 control-label' %>
              <div class="col-lg-8">
                <%= f.text_field :name,:class => 'form-control', required: true  %>
              </div>
        </div>

        <div class="form-group">
           <%= f.label :address, :class => 'col-lg-2 control-label' %>
              <div class="col-lg-8">
                <%= f.text_area :address, :class => 'form-control', rows: "6", required: true  %>
              </div>
        </div>

        <div class="form-group">
           <%= f.label :pincode, :class => 'col-lg-2 control-label' %>
              <div class="col-lg-8">
                <%= f.text_field :pincode,:class => 'form-control', required: true  %>
              </div>
        </div>

        <div class="form-group">
           <%= f.label :mobile, :class => 'col-lg-2 control-label' %>
              <div class="col-lg-8">
                <%= f.text_field :mobile,:class => 'form-control'  %>
              </div>
        </div>

        <div class="form-group">
           <%= f.label :email, :class => 'col-lg-2 control-label' %>
              <div class="col-lg-8">
                <%= f.text_field :email, :class => 'form-control'  %>
              </div>
        </div>

        <div class="form-group">
           <%= f.label :remarks, :class => 'col-lg-2 control-label' %>
              <div class="col-lg-8">
                <%= f.text_field :remarks, :class => 'form-control'  %>
              </div>
        </div>


      <div class="form-group">
      <div class="col-lg-8 col-lg-offset-2">
         <%= f.submit :class => 'btn btn-primary btn-block' %>
      </div>
 </div>
<%= hidden_field_tag :customer_id, @customer.id %>
</div>
</div>
<% end %>