<%= form_for @lottery,:html=> {:class=>"form-horizontal"}, url: {action: @lottery_action} do |f| %>


  <% if @lottery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lottery.errors.count, "error") %> prohibited this lottery from being saved:</h2>

      <ul>
      <% @lottery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-lg-5 col-lg-offset-4">
    <div class="well bs-component">
      <legend>New Lottery Entry</legend>
      
        <div class="form-group">
           <%= f.label :name, :class => 'col-lg-2 control-label' %>
              <div class="col-lg-8">
                <%= f.text_field :name,:class => 'form-control', required: true  %>
              </div>
        </div>

        <div class="form-group">
           <%= f.label :rate, :class => 'col-lg-2 control-label' %>
              <div class="col-lg-8">
                <%= f.number_field :rate,:class => 'form-control', required: true  %>
              </div>
        </div>

        <% if @lottery_action=='lottery_update' %>
        <div class="form-group">
           <%= f.label :drawn, :class => 'col-lg-2 control-label' %>
              <div class="col-lg-8">
                <%= f.check_box :drawn, {},"1","0" %>
              </div>
        </div>
        <% end %>
        

      <div class="form-group">
      <div class="col-lg-8 col-lg-offset-2">
         <%= f.submit :class => 'btn btn-primary btn-block' %>
      </div>
 </div>
<%= hidden_field_tag :lottery_id, @lottery.id %>
</div>
</div>
<% end %>