<%= form_for @series,:html=> {:class=>"form-horizontal"}, url: {action: @series_action} do |f| %>


  <% if @series.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@series.errors.count, "error") %> prohibited this series from being saved:</h2>

      <ul>
      <% @series.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-lg-5 col-lg-offset-4">
    <div class="well bs-component">
      <legend>New Series Entry</legend>
      
        <div class="form-group">
           <%= f.label :lottery, :class => 'col-lg-2 control-label' %>
            <div class="col-lg-8">
              <%= select(:series, :lottery_id, options_for_select(@lotteries, selected: @series.lottery_id),{}, {class: "form-control" }) %>
            </div>
        </div>

        <div class="form-group">
           <%= f.label :name, :class => 'col-lg-2 control-label' %>
              <div class="col-lg-8">
                <%= f.text_field :name,:class => 'form-control', required: true  %>
              </div>
        </div>



      <div class="form-group">
      <div class="col-lg-8 col-lg-offset-2">
         <%= f.submit :class => 'btn btn-primary btn-block' %>
      </div>
 </div>
<%= hidden_field_tag :series_id, @series.id %>
</div>
</div>
<% end %>