<h1>Customer List</h1>

<table class="table table-striped table-hover" id="customer_index">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Pincode</th>
      <th>Mobile</th>
      <th>Email</th>
      <th>Remarks</th>
      <th></th>
      <th></th>
    </tr> 
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.pincode %></td>
        <td><%= customer.mobile %></td>
        <td><%= customer.email %></td>
        <td><%= customer.remarks %></td>
        <td><%= link_to 'Edit', setup_customer_edit_path(customer) %></td>
        <td><%= link_to 'Destroy', setup_customer_destroy_path(customer), data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Customer', setup_customer_new_path, :class => 'btn btn-primary' %>
