<div class="card border-primary mb-3" style="max-width: 30rem;">
<center>  
  <div class="card-header"></div>
  <div class="card-body">
    <h2 class="card-title">Setup</h2>
      <ul class="list-group">

        <li class="list-group-item">
        <span class="badge"><%= %></span>
          <a>
          <span></span> 
          <%= link_to 'Customers', {controller: 'setup', action: 'customer_index'}, {method: :post} %>
          </a>
        </li>        

        <li class="list-group-item">
        <span class="badge"><%= %></span>
          <a>
          <span></span> 
          <%= link_to 'Lotteries', {controller: 'setup', action: 'lottery_index'}, {method: :post} %>
          </a>
        </li>

        <li class="list-group-item">
        <span class="badge"><%= %></span>
          <a>
          <span></span> 
          <%= link_to 'Series', {controller: 'setup', action: 'series_index'}, {method: :post} %>
          </a>
        </li>

      </ul>
  </div>
</div>
</center>