<h1>Lottery List</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Series</th>
      <th>Rate</th>
      <th>Drawn</th>
      <th></th>
      <th></th>
    </tr> 
  </thead>

  <tbody>
    <% @lotteries.each do |lottery| %>
      <tr>
        <td><%= lottery.name %></td>
        <td><%= lottery.series.pluck(:name).map(&:inspect).join(', ').gsub('"', '') %></td>
        <td><%= lottery.rate.round %></td>
        <td><%= lottery.drawn %></td>
        <td><%= link_to 'Edit', setup_lottery_edit_path(lottery) %></td>
        <td><%= link_to 'Destroy', setup_lottery_destroy_path(lottery),data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Lottery ', setup_lottery_new_path, :class => 'btn btn-primary' %>
