<h1>Series List</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Lottery</th>
      <th>Series Name</th>
      <th></th>
      <th></th>
    </tr> 
  </thead>

  <tbody>
    <% @series.each do |serial| %>
      <tr>
        <td><%= serial.lottery.name %></td>
        <td><%= serial.name %></td>
        <td><%= link_to 'Edit', setup_series_edit_path(serial) %></td>
        <td><%= link_to 'Destroy', setup_series_destroy_path(serial),data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Series', setup_series_new_path, :class => 'btn btn-primary' %>
