<div class="col-lg-4 col-lg-offset-4">

<div class="card border-success mb-3" style="max-width: 20rem;">
  <div class="card-header">Jain Group</div>
  <div class="card-body">
    <h4 class="card-title">MIS</h4>
    <br>
    <%= button_to "Outstanding", "http://postcrm.herokuapp.com/window/outstanding_summary", :class => "btn btn-primary btn-lg btn-block", :method => :post %>
    <br>
    <%= button_to "Collection", "http://postcrm.herokuapp.com/window/collection", :class => "btn btn-primary btn-lg btn-block", :method => :post %>
    <br>
    <%= button_to "Area Sold", "http://postcrm.herokuapp.com/window/area_sold", :class => "btn btn-primary btn-lg btn-block", :method => :post %>
    <br>
    <%= button_to "Milestones", "http://postcrm.herokuapp.com/window/milestones", :class => "btn btn-primary btn-lg btn-block", :method => :post %>
    <br>
    <%= button_to "Cash Flow", "http://postcrm.herokuapp.com/window/cash_outflow", :class => "btn btn-primary btn-lg btn-block", :method => :post %>

  </div>
  </div>
</div>

</div>


