<div class="card border-primary mb-3" style="max-width: 30rem;">
<center>  
  <div class="card-header"></div>
  <div class="card-body">
    <h2 class="card-title">Transaction</h2>
      <ul class="list-group">

        <li class="list-group-item">
        <span class="badge"><%= %></span>
          <a>
          <span></span> 
          <%= link_to 'Money Receipt Register', {controller: 'reports', action: 'money_receipt_register'}, {method: :post} %>
          </a>
        </li>        

      </ul>
  </div>
</center>
</div>
