<%= form_tag 'money_receipt_register', :authenticity_token => true, :html => {:class => 'form-horizontal'}  do %>
<div class="row row_position">
  <div class="col-sm-12">
    <div class='col-sm-3' id='total_amt'></div>
    <div class="col-sm-6">
      <b>Money Receipts During</b>
      <div class="col-sm-9">
        <%= date_field(:range, :from, :value => @from,:style=>"line-height:19px;") %>
        To:<%= date_field(:range, :to, :value => @to,:style=>"line-height:19px;") %>
        <%= submit_tag "Refresh", name: "refresh", :class => 'btn btn-primary btn-xs' %>
      </div>
    </div>
  </div>      
</div>

<table class="table table-striped table-hover" id='money_receipt_register'>
  <thead>
   <tr>
      <th></th>
      <th>Date</th>
      <th>Customer</th>
      <th>Instrument</th>
      <th>Link</th>
      <th>RP Number</th>
      <th>Lottery Details</th>
      <th>Lottery(₹)</th>
      <th>Recd(₹)</th>
      <th></th>
   </tr>
  </thead>

  <tbody>
    <% @money_receipts.each do |money_receipt| %>
    <tr>
      <td><%= check_box_tag 'printables[]', money_receipt.id%></td>
      <td><%= money_receipt.created_at.strftime("%d/%m/%y") %></td>
      <td><%= money_receipt.customer.name %></td>
      <td><%= money_receipt.instrument_detail %></td>
      <% if money_receipt.instrument==nil %>
      <td></td>
      <% else %>
      <td><%= link_to money_receipt.instrument.scan_file_name, money_receipt.instrument.scan.url, target: :_blank %></td>
      <% end %>
      <td><%= money_receipt.rp_number %></td>
      <td>
      <% amount=0 %>  
      <% money_receipt.sold_lotteries.each do |sold_lottery| %>
        <b><%= sold_lottery.lottery.name %>(<%= sold_lottery.lottery.rate.round %>)</b>:
        <% sold_lottery.sold_series.each do |sold_series| %>
          <i><%= sold_series.series.name %></i>-
          <% sold_series.sold_numbers.each do |sold_number| %>
            <small><%= sold_number.serial %></small>
            <% if sold_number.sold_series.series.name=='all' || sold_number.sold_series.series.name=='All' %>
            <% amount+=((sold_number.sold_series.sold_lottery.lottery.rate)*((sold_number.sold_series.sold_lottery.lottery.series.count-1))) %>
            <% else %>
            <% amount+=sold_number.sold_series.sold_lottery.lottery.rate %>
            <% end %>
          <% end %> 
        <% end %>
      <% end %>  
      </td>
      <td><%= amount.round %></td>
      <td><%= money_receipt.amount.round %></td>
      <td><%= link_to 'Review', transaction_money_receipt_review_url(:money_receipt_id => money_receipt.id), method: "get", :target => "_blank" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="col-sm-6">
<%= submit_tag "Print", name: "print", :class => 'btn btn-primary' %>
</div>
<% end %>