<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  
<% if @header==nil %>
<% @header='Vira Agency' %>
<% end %>
  <title><%= @header %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "autocomplete-rails.js", "highcharts" %>
  <%= csrf_meta_tags %>
 <style><%= yield :stylesheets %></style>
</head>
<body>

<% if current_personnel %>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Transactions', {controller: 'transaction', action: 'index'}, { :class=>"nav-link"} %>
      </li>
      <li class="nav-item">
        <%= link_to 'Setup', {controller: "setup", action: "index"}, { :class=>"nav-link" } %>
      </li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <%= link_to "LogOut", log_out_path, { :class=>"nav-link" } %>
        </li>
      </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" id="filterbox" type="text" placeholder="Search">
      
    </form>
  </div>
</nav>

  <% else %>
  <%=notice %>
  <%end %>

<div id="flash_container">
<% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Heads up!</strong> <%= value %>
    </div>
<% end %>
</div>

<div id="content"><%= content_for?(:content) ? yield(:content) : yield %></div>

</body>
</html>
